<!DOCTYPE html>
<html lang="el">
<head>
      <title> CV Lizbeth </title>
      <meta charset= "UTF-8">
</head>
<body >
  <div class="body">

  <div class="title">
    <h1> Curriculum Vitae Lizbeth </h1>
  </div>   
    

  <div class="titulos">
    <h2> Datos Personales </h2>
  </div>

  
     <ul>
       <li> Nombre: Lizbeth </li>
       <li> Apellido: Caballero </li>
       <li> Nro documento: 39403942 </li>
       <li> Fecha de nac. : 31/05/2001
       <li> Lugar de nac: Córdoba </li>
       <li> Nacionalidad: Méxicano </li>
       <li> Edad: 21  </li>
       <li>><p> Facebook Page </p> </li>
     </ul>
  </div>

  <div class="titulos">
   <h2>  Objetivos: </h2>
  </div> 

      <ul>
        <li> Desarrollarme en un ambiente de trabajo que me lleve a nuevas fronteras de conocimiento y aprendizaje
      </ul>
  
  <div class="titulos">
   <h2>  Experiencia laboral: </h2>
  </div> 

     <ul>
       <li>Mesero.-</li>
     </ul>

   <div class="titulos">
   <h2>  Formacion Academica: </h2>
   </div>
     
     <ul>
       <li><p> Preparatoria: CBTIS47  </p></li>
      <li><p> Universidad: UV ingenieria de softwate </p></li>
     </ul>

     <div class="titulos">
     <h2> Cualificaciones: </h2>
     </div>
     <ul>
       <li>	Inglés: Nivel Medio  </li>
     </ul>

     <div class="titulos">
      <h2> Certificaciones: </h2>
      </div>
      <ul>
        <img class="img" src="assets/img/ComputerVision.jpg">
      </ul>
      <ul>
        <img class="img" src="assets/img/interMachineL.png">
      </ul>
      <ul>
        <img class="img" src="assets/img/introDeepL.jpg">
      </ul>
      <ul>
        <img class="img" src="assets/img/introMachineL.jpg">
      </ul>
      <ul>
        <img class="img" src="assets/img/pandas.png">
      </ul>
      <ul>
        <img class="img" src="assets/img/python.png">
      </ul>

    </body>
</html>
